body {
    background-color: #FFA07A;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: sienna;
    text-align: center;
}

img {
    margin-left: 550px;
}

ol {
    text-align: left;
    font-size: medium;

}